{% extends 'base.html.twig' %}

{% block title %}Profil commandes{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {{include('layouts/partials/_sidenav.html.twig')}}
            <div class="container" style="margin-top: 80px">
                <div><h2>Profil de {{app.user.fullname}}</h2></div>
                <div class="mb-5 row">
                    <div class="col">Nom</div>
                    <div class="col">{{app.user.lastName}}</div>
                    <div class="w-100"></div>
                    <div class="col">Prénom</div>
                    <div class="col">{{app.user.firstName}}</div>
                    <div class="w-100"></div>
                    <div class="col">Email</div>
                    <div class="col">{{app.user.email}}</div>
                    <div class="w-100"></div>
                    <div class="mt-3 col"><a href="{{path('app_profile_edit')}}" class="btn btn-primary">Modifier mes informations personelles</a></div>
                </div>
                <div class="mt-5 row">
                    <div class="col">Mot de passe</div>
                    <div class="col">*******</div>
                    <div class="w-100"></div>
                    <div class="mt-3 col"><a href="{{path('app_profile_editpassword')}}" class="btn btn-primary">Modifier mon mot de passe</a></div>
                </div>
                <div class="mb-5 row">
                    <div class="mt-3 col"><a href="{{path('app_profile_command')}}" class="btn btn-primary">Mes commandes</a></div>
                </div>
            </div>
        </div>
    </div>   
{% endblock %}
