{% extends "base.html.twig" %}

{% block title %}Mon panier{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="mt-5">Mon panier</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
    {% if items | length > 0 %}
          {% for item in items %}
            <tr>
              <td>{{item.product.title}}</td>
              <td>{{item.product.price}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.product.price * item.quantity}}</td>
              <td>
                <a href="{{path('app_cart_remove', {id:item.product.id})}}" class="btn btn-danger btn-sm">Supprimer</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-right">Total HT : </td>
            <td>{{totalHT}}</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3" class="text-right">TVA 20 % : </td>
            <td>
              {{tva|number_format(2)}}
            </td>
          </tr>
          <tr>
            <td colspan="3" class="text-right">TTC : </td>
            <td>{{totalTTC| number_format(2)}}</td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td><a href="{{path('app_validate_command')}}">Valider mon panier</a></td>
          </tr>
        </tfoot>
      </table>
      <a href="{{path('app_pricing')}}" class="btn btn_light">&lt Continuer mes achats</a>
    {% else %}
    <tr>
      <td>
        Il n'y a pas encore de produits, <span>pour commencer <a href="{{path('app_pricing')}}">cliquez ici</a></span>
      </td>
    </tr>
    {% endif %}
  </div>
{% endblock %}