{{ form_start(form) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.message) }}
        <button class="mb-3 btn btn-primary btn-block" type="submit">Envoyer</button>

    {{ form_end(form) }}