<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="lignes">
      <div class="l1"></div>
      <div class="l2"></div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="carousel-image" src="{{asset('images/haltere.jpg')}}" alt="haltere">
        <div class="container">
          <div class="rounded carousel-caption text-left" style="padding-left: 20px;">
            <div class="carousel-title">
              <h1>La musculation, un sport complémentaire.</h1>
              <p class="reveal-2">Adepte d'endurance ? Pratiquant régulier de sports de combat ? Les séances de musculation sont le complément idéal à votre entrainement sportif pour l'amélioration des performances dans votre pratique sportive et une meilleure stabilité, découvrez sur ce site quelques articles consacrés à ce sujet</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-image" src="{{asset('images/workout.jpg')}}" alt="workout">
        <div class="container">
          <div class="rounded carousel-caption">
            <h1 class="carousel-title">Musclez vous dans la rue avec le Street Workout !</h1>
            <p>Le street workout est une discipline à part entière, consistant à réaliser des exercices au poids de corps, en milieu urbain. Si vous ne supportez pas d’être enfermé dans une salle de sport pour vous dépenser physiquement, le street workout pourrait vous intéresser…</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-image" src="{{asset('images/crossfit.jpg')}}" alt="crossfit">
        <div class="container">
          <div class="rounded carousel-caption text-right" style="padding-right: 20px;">
            <h1 class="carousel-title">Présentation du CrossFit.</h1>
            <p>Avez-vous déjà entendu parlé du CrossFit ? Venue des Etats-Unis, cette activité propose un entraînement complet, grâce à mélange d’exercices de fitness, d’haltérophilie, et de cardio. Découvrez cette méthode de remise en forme où le challenge et l’esprit communautaire priment avant tout.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><circle width="100%" height="100%" fill="#777"/><image xlink:href="{{asset('images/silouhette_muscu.jpg')}}" x="0" y="-15%" height="100%" width="100%"/></svg>
        <h2>Musculation</h2>
        <p>La musculation est une activité physique qui peut être réalisée par tous et dans n’importe quel lieu. Les avantages sont bien plus nombreux que les inconvénients à condition de suivre quelques conseils tels que suivre un programme d’entraînement, bien se reposer ou encore ne pas utiliser de produits illicites.</p>
        <p><a class="btn btn-secondary" href="{{path('blog_musculation')}}" role="button">Pour en savoir plus &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><circle width="100%" height="100%" fill="#777"/><image xlink:href="{{asset('images/silouhette_street_workout.jpg')}}" x="0" y="0" height="100%" width="100%"/></svg>
        <h2>Street workout</h2>
        <p>Le Street Workout est un sport pour tous : hommes et femmes de tous les âges et milieux sociaux, personnes en situation de handicap, certains corps de métiers (gendarmes, pompiers, militaires, sportifs professionnels...), associations et entreprises ....</p>
        <p><a class="btn btn-secondary" href="{{path('blog_street_workout')}}" role="button">Pour en savoir plus &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><circle width="100%" height="100%" fill="#777"/><image xlink:href="{{asset('images/silouhette_crossfit.jpg')}}" x="0" y="0" height="100%" width="100%"/></svg>
        <h2>Crossfit</h2>
        <p>Le CrossFit combine principalement la force athlétique, l'haltérophilie, la gymnastique et les sports d'endurance1. Le mot crossfit vient de la contraction de cross fitness (en français, entraînement croisé), appelé ainsi parce qu'il mélange différentes activités physiques et sportives préexistantes.</p>
        <p><a class="btn btn-secondary" href="{{path('blog_crossfit')}}" role="button">Pour en savoir plus &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="container-tab">
      {% for product in products %}
          <div class="reveal container-featurette row featurette">
              <div id="product-text" class="col-md-7">
                <h2 class="reveal-2 featurette-heading"><a class="text-secondary text-decoration-none" href="{{path('app_show_product_to_buy', {id: product.id})}}">{{product.title}}</a></h2>
                <p class="reveal-3 lead">{{product.description}}</p>
              </div>
              <div id="product-image" class="col-md-5">
                <a href="{{path('app_show_product_to_buy', {id: product.id})}}">
                  <img class="reveal-1 card-img-top" src="{{ (product.imageName ? vich_uploader_asset(product) : asset('build/images/empty.jpg'))}}" alt="{{product.title}}">
                </a>
              </div>
          </div>
        
      <hr class="featurette-divider">
      {% endfor %}
    
    </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  <footer>
    <p class="mx-auto text-center text-muted">
          <small><a class="text-secondary text-decoration-none" href="{{path('app_conditions')}}" target="_blank">Mentions légales</a></small>
    </p>
  </footer>
