<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <a class="navbar-brand" href="{{path('app_home')}}"><img src="{{asset('images/logo-my-program.png')}}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
         <li class="nav-item dropdown">
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tarifs</a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="{{path('app_pricing')}}">Programmes</a>
            <a class="dropdown-item" href="#">Panier</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_blog')}}">Blog</a>
        </li>
      {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_admin')}}">Admin</a>
        </li>
      {% endif %}
      {% if is_granted('ROLE_EDITOR') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="{{path('app_article')}}">Liste des articles</a>
            <a class="dropdown-item" href="{{path('app_article_create')}}">Nouvel article</a>
          </div>
        </li>
      {% endif %}
      {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_profile')}}">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();">Se déconnecter</a>
        </li>

        <form id="js-logout-form" action="{{path('app_logout')}}" method="POST" style="display: none;">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
        </form>
      {% endif %}
      {% if not app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
        </li>
      {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_contact')}}">Nous contacter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_cart')}}">
            <i class="fas fa-shopping-cart"></i>
            Panier
          </a>
        </li>
      </ul>
    </div>
  </nav>

