{% extends 'base.html.twig' %}

{% block title 'Modifier utilisateur' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="mt-5 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">Modifier l'utilisateur</h1>
                {{form_start(form)}}
                    {{form_row(form.lastName)}}
                    {{form_row(form.firstName)}}
                    {{form_row(form.email)}}
                    {{form_row(form.roles)}}
                    <input type="submit" class="btn btn-primary btn-block" value="Modifier">
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}