{% extends 'base.html.twig' %}

{% block title 'Liste des produits' %}
{% block body %}
	<div class="mt-5 container">
		{% if products|length > 0 %}
			<h1 class="mt-5 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">Liste des produits</h1>
			{% for row in products|batch(3) %}
				<div class="row mb-5">
					{% for product in row %}
						<div class="col-md-4 mx-auto">
							<a href="{{path('app_products_show', {id: product.id})}}">
								<img src="{{ (product.imageName ? vich_uploader_asset(product) : asset('build/images/empty.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ product.title }}" class="w-100"/>
							</a>
							<h2 class="h5 pl-3 pt-3">
								<a href="{{path('app_products_show', {id:product.id})}}" class="text-secondary text-decoration-none">{{product.title}}</a>
							</h2>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		{% else %}
			<p class="mt-5 text-center h3">Il n'y a pas encore de produits
				<a href="{{path('app_create_products')}}">Soyez le premier</a>
			</p>
		{% endif %}
	</div>
{% endblock %}
