{% extends "base.html.twig" %}

{% block title %}Progamme {{product.title}}{% endblock %}

{% block body %}
    
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="mt-5 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center display-4">{{product.title}}</h1>
  <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

    <div class="card-group">
        <div class="col-md-6 ">
            <img class="card-img-top" src="{{ (product.imageName ? vich_uploader_asset(product) : asset('build/images/empty.jpg'))}}" alt="{{product.title}}">
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{product.title}}</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{product.subtitle}}</h5>
                <p class="card-text">{{product.description|raw}}</p>
                <a href="{{path('app_cart_add', {id:product.id})}}" class="btn btn-lg btn-block btn-primary">
                    <i class="fas fa-shopping-cart"></i>
                    Ajouter au panier
                </a>
            </div>
        </div>
    </div>

{% endblock %}
