{% extends 'base.html.twig' %}

{% block title 'Mon blog' %}

{% block body %}
    <h1 class="pt-5 pb-5 text-center">Catégorie musculation</h1>

    <div class="container">
        <div class="row">
            {% for article in articles %}
            <div class="col-6 col-md-4"></div>
                <div class="col-6 col-md-4">
                    <article class="mt-5 mb-5 bg-white rounded shadow">
                        <a href="{{path('app_blog_article_show', {id:article.id})}}" class="btn btn-light"><h2>{{article.title}}</h2></a>
                        <a href="{{path('app_blog_article_show', {id:article.id})}}" class="btn btn-light">
                            <img src="{{ (article.imageName ? vich_uploader_asset(article) : asset('images/empty.jpg'))}}" alt="{{ article.title }}" class="w-100" />                            
                        </a>
                        <p class="pl-3 pr-3 stext-break">{{article.description[:250] ~ '...'}}</p>
                        <p><a class="ml-3 btn btn-secondary" href="{{path('app_blog_article_show', {id:article.id})}}" role="button">Lire la suite &raquo;</a></p>
                        <a href="{{path('app_blog_like', {id:article.id})}}" class="btn btn-link js-like-link">
                            {% if app.user and article.isLikeByUser(app.user) %}
                                <i class="fas fa-thumbs-up"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            <span class="js-likes">{{article.likes|length}}</span>
                            <span class="js-label">J'aime</span>
                        </a>
                    </article>
                </div>
                <div class="col-6 col-md-4">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset("js/like_blog.js")}}"></script>
{% endblock %}