{% extends "base.html.twig" %}

{% block title %}Modération des commentaires{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5 text-center">Modération des commentaires</h1>
    {% for comment in article.comments|sort|reverse %}
        <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                {% if comment.approveComment == false %}
                    <article class="article bg-white rounded shadow">
                        <div class="p-3">
                                <p><small><b>{{comment.author}} </b><time datetime="{{comment.createdAt|date('d-m-Y H:i:s')}}">{{comment.createdAt|ago}}</time></small></p>
                                <p>{{comment.comment}}</p>
                                <div class="pt-3">
                                    <a href="{{path('app_comments_approve', {id:comment.id})}}" class="btn btn-light">Approuver</a>
                                    {#<form id="js_comment_approve" action="{{path('app_comments_approve', {id:comment.id})}}" method="POST" style="display:none;">
                                        <input type="hidden" name="csrf_token" value="{{csrf_token('comment_deletion_' ~ comment.id)}}">
                                        <input type="hidden" name="_method" value="POST">
                                    </form>#}
                                    <a href="#" onclick="confirm('Confirmer la suppression') && document.getElementById('js_comment_delete').submit()" class="btn btn-light">Supprimer</a>
                                    <form id="js_comment_delete" action="{{path('app_comments_delete', {id:comment.id})}}" method="POST" style="display:none;">
                                        <input type="hidden" name="csrf_token" value="{{csrf_token('comment_deletion_' ~ comment.id)}}">
                                        <input type="hidden" name="_method" value="DELETE">
                                    </form>
                                </div>
                        </div>
                    </article>
                    <hr>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}