{% extends 'base.html.twig' %}

{% block title 'Mon blog' %}

{% block body %}
    <h1 class="pt-5 pb-5 text-center">La pratique d'un sport avec un coach sportif</h1>

    <div class="container">
        <div class="row">
            {% for article in articles %}
            <div class="col-6 col-md-4"></div>
                <div class="col-6 col-md-4">
                    <article class="mt-5 mb-5 bg-white rounded shadow">
                        <a href="{{path('app_blog_article_show', {id:article.id})}}" class="btn btn-light"><h2>{{article.title}}</h2></a>
                        <a href="{{path('app_blog_article_show', {id:article.id})}}" class="btn btn-light">
                            <img src="{{ (article.imageName ? vich_uploader_asset(article) : asset('images/empty.jpg'))}}" alt="{{ article.title }}" class="w-100" />                            
                        </a>
                        <p class="text-break">{{article.description}}</p>
                    </article>
                </div>
                <div class="col-6 col-md-4">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}