{% extends 'base.html.twig' %}

{% block title 'Mon blog' %}
{% block body %}
    {% if articles|length > 0 %}
        <h1 class="mb-4 text-center text-muted">{{ pluralize(articles|length, 'Article', 'Articles')}}</h1>
        {% for row in articles|batch(3) %}
            <div class="row mb-5">
                {% for article in row %}
                    <div class="col-md-4">
                        <article class="article bg-white rounded shadow">
                            <div class="mw-100 overflow-hidden rounded-top">
                                <a href="{{path('app_article_show', {id:article.id})}}">
                                    <img src="{{ (article.imageName ? vich_uploader_asset(article) : asset('build/images/empty.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ article.title }}" class="w-100" />                            
                                </a>
                            </div>
                            <h2 class="h5 pl-3 pt-3"><a href="{{path('app_article_show', {id:article.id})}}" class="text-secondary text-decoration-none">{{article.title}}</a></h2>
                            <p class="class-muted pl-3 pb-3"><small>Publié par {{article.user.fullName}} </small></p>
                        </article>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p class="mt-5 text-center h3">Il n'y a pas encore d'article <a href="{{path('app_article_create')}}">Soyez le premier</a></p>
    {% endif %}
{% endblock %}
