{% extends 'layouts/base.html.twig' %}

{% block title 'Mon blog' %}
{% block body %}
    <h1>{{ pluralize(articles|length, 'Article', 'Articles')}}</h1>
        {% for article in articles %}
            <article>
                <h2><a href="{{path('app_article_show', {id:article.id})}}">{{article.title}}</a></h2>
                <p>{{article.description|u.truncate(10, '...', false)}}</p>
                <p>Publié {{article.createdAt|ago}}</p>
            </article>
        {% endfor %}
{% endblock %}
