{% extends 'base.html.twig' %}

{% block title article.title %}

{% block body %}
    <article>
        <h1>{{article.title}}</h1>
        <p>{{article.description}}</p>
    </article>
    <a href="{{path('app_article_edit', {id:article.id})}}">Mise à jour</a> |
    <a href="#" onclick="event.preventDefault(); confirm('Confirmer la suppression') && document.getElementById('js_article_delete').submit()">Supprimer</a> |
    <form id="js_article_delete" action="{{path('app_article_delete', {id:article.id})}}" method="POST" style="display:none;">
        <input type="hidden" name="_method" value="DELETE">
    </form>
    <a href="{{path('app_article')}}">Retour</a>
{% endblock %}
