{% extends 'base.html.twig' %}

{% block title article.title %}


{% block body %}
    <div class="container" style="margin-top:100px;">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <article class="article bg-white rounded shadow">
                    <div class="mw-100 overflow-hidden rounded-top">
                            <img src="{{ (article.imageName ? vich_uploader_asset(article) : asset('build/images/empty.jpg'))}}" alt="{{ article.title }}" class="w-100" />                            
                    </div>
                    <div class="p-3">
                        <h1 class="h5 text-secondary">{{article.title}}</h1>
                        <p class="class-muted">
                            <small>Publié <time datetime="{{article.createdAt|date('d-m-Y H:i:s')}}">{{article.createdAt|ago}}</time> par {{article.user.fullName}}</small>
                        </p>
                        <p class="text-break pt-3">
                            {{article.description|raw}}
                        </p>
                    </div>
                </article>
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-capitalize">Commentaires</h2>
                        <div>
                            {% for comment in article.comments|sort|reverse %}
                                {% if comment.approveComment == true %}
                                    <p><small><b>{{comment.author}} </b><time datetime="{{comment.createdAt|date('d-m-Y H:i:s')}}">{{comment.createdAt|ago}}</time></small></p>
                                    <p>{{comment.comment|raw}}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <hr>
                        {% if is_granted('ROLE_USER') %}
                            {{include('layouts/partials/_form_comments.html.twig')}}
                        {% else %}
                            <a href="{{path('app_login')}}" class="btn btn-link">Connectez vous pour commenter</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
